{% extends base_template %}

{% macro show_help_text(help_text) %}
  {% if help_text %}
    <span class="glyphicon glyphicon-info-sign" data-toggle="tooltip" data-placement="top"
          data-container="body" title="{{ help_text }}"></span>
  {% endif %}
{% endmacro %}

{% macro showobject(object) %}
  <div class="descr row detail-short">
    {% for p in view.gen_short_props(object) %}
      <div class="col-md-6 detail-item">
        <label>{{ p.name }}{{ show_help_text(p.help_text) }}:</label>
        <div class="one-line detail-info">
          {{ p.value }}
        </div>
      </div>
    {% else %}
      <div class="col-md-6 detail-item">
        <label>{{ model_name }}:</label>
        <div class="one-line detail-info">
          {{ object }}
        </div>
      </div>
    {% endfor %}
  </div>

  <div class="detail-long">
    {% for p in view.gen_long_props(object) %}
      <div class="detail-long-item">
          <div class="heading">{{ p.name }}{{ show_help_text(p.help_text) }}</div>
          {{ p.value|paragraphs }}
      </div>
    {% endfor %}
  </div>
{% endmacro %}

{% block container %}
  <div class="row">
    <div class="col-sm-12">
      {% if label_object %}
        {{ display.display_labels(label_object) }}
      {% endif %}
      {{ showobject(object) }}
      {% if extra_content %}
        {% include extra_content %}
      {% endif %}
    </div>
  </div>
{% endblock %}
