{% extends base_template %}

{% block container %}
  {% if prefix_include %}
    {% include prefix_include %}
  {% endif %}
  <div class="row">
    <div class="col-md-{% if search_form %}9{% else %}12{% endif %}">
      {% if object_list %}
        <table class="table">
          <thead>
          <tr>
            {% for p in view.gen_short_props(object_list[0]) %}
              <th class="{{ p.extra.get('css', '') }}">{{ p.name }}</th>
            {% else %}
              <th>{{ model_name }}</th>
            {% endfor %}
          </tr>
          </thead>
          <tbody>
          {% for object in object_list %}
            <tr>
              {% for p in view.gen_short_props(object) %}
                <td class="{{ p.extra.get('css', '') }}">
                  {{ p.value }}
                </td>
              {% else %}
                <td>
                  <a href="{{ view.get_detail_url(object) }}">{{ object }}</a>
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {{ display.pagination(page_obj, get_without_page) }}
      {% else %}
        <h3>{% trans %}No {{ plural_model_name }} found{% endtrans %}</h3>
      {% endif %}
    </div>
  </div>
{% endblock %}
