.buttons {
  margin-bottom: 15px;
}

.detail-item {
  word-wrap: break-word;
  min-height: 20px;
}

.detail-short label {
  min-width: 35%;
  max-width: 200px;
  float: left;
  color: #9C9C9C;
  font-weight: normal;
  margin-right: 10px;
  margin-bottom: 0;
  text-align: right;
}

.detail-item .detail-info {
  margin-left: 155px;
}

@media (max-width: 768px) {
  .detail-item .detail-info {
    margin-left: 100px;
  }
}

.detail-item .detail-info.pull-right {
  margin-left: 10px;
}

.detail-item .one-line {
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.detail-item .multi-line {
  margin-left: 36%;
}

.detail-item .help-text {
  margin-left: 36%;
  color: #9C9C9C;
  font-size: 95%;
}

.detail-item.pad-below {
  padding-bottom: 10px;
}

.detail-long {
  margin-top: 10px;
}

.detail-long .detail-long-item {
  padding: 5px 0;
}

.detail-long .heading {
  font-weight: 700;
}

p.no-margin {
  margin: 0;
}
